#-------------#
# Maven Files #
#-------------#
target

#---------------------------#
# Anypoint Studio / Eclipse #
#---------------------------#
.studio
.classpath
.project
.settings
mule-project.xml
.mule
catalog
/.idea
*.iml

#-----------#
# Mac Files #
#-----------#
.DS_Store

#------------------#
# Derby / ActiveMQ #
#------------------#
activemq-data
derby.log

#---------------#
# Strange files #
#---------------#
.rid
Icon?
